* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --soft-blue: hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}
a:focus,
button:focus,
input:focus {
  outline: dotted 3px var(--soft-blue);
}
img {
  max-width: 100%;
}
body {
  background-color: #fefefe;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.header {
  margin-bottom: 2rem;
  padding: 1rem;
}
section {
  padding: 0 1rem;
}
.hambuger {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  background-color: transparent;
  z-index: 10000;
}
.hambuger.open {
  .line {
    background-color: #fefefe;
    &--one {
      position: absolute;
      top: 10px;
      left: 0;
      transform: rotate(45deg);
    }
    &--two {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: 0;
    }
    &--three {
      position: absolute;
      top: 10px;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}
.logo.open {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1000;
}
.line {
  height: 2.5px;
  width: 100%;
  background-color: var(--very-dark-blue);
  &--one {
    position: absolute;
    top: 1px;
    left: 0;
  }
  &--two {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &--three {
    position: absolute;
    bottom: 1px;
    left: 0;
  }
}
.nav {
  background-color: var(--very-dark-blue);
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0.96;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  &__list {
    margin-top: 4rem;
    list-style-type: none;
    width: 100%;
    text-align: center;
  }
  &__item {
    padding: 1rem 0;
    border-top: var(--grayish-blue) 1px solid;
  }
  &__link {
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
  }

  .login {
    display: block;
    border: 2px solid #fefefe;
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 1rem;
  }
}
.nav.open {
  display: block;
  transform: scale(1, 1);
}

.heading {
  color: var(--very-dark-blue);
  margin: 1rem 0;
  font-weight: 500;
}

.paragraph {
  color: var(--grayish-blue);
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 400;
}

// banner
.banner {
  position: relative;
  text-align: center;
  &::before {
    background-color: var(--soft-blue);
    border-bottom-left-radius: 70px;
    position: absolute;
    right: -1rem;
    top: 2rem;
    content: "";
    width: 90%;
    height: 40%;
    z-index: -1;
  }
  &__text {
    margin-top: 3rem;
  }

  &--heading {
    font-size: 2rem;
  }
}
.banner__links {
  margin: 2rem 0;
}
.banner__link {
  text-decoration: none;
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.chrome {
  background-color: var(--soft-blue);
  color: #fefefe;
  margin-right: 1rem;
}
.firefox {
  background-color: #e7e6e6;
  color: var(--very-dark-blue);
}
// features
.features {
  margin-top: 8rem;

  &__text {
    text-align: center;
  }
  &--heading {
    font-size: 1.6rem;
  }
  &__buttons {
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 4rem;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    width: 100%;
    border-top: 1px solid var(--grayish-blue);
    text-align: center;
  }
  &__btn {
    position: relative;
    background-color: transparent;
    color: var(--grayish-blue);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
  }
  &__cards {
    position: relative;
    margin-bottom: 600px;
  }
  &__card {
    position: absolute;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    &::before {
      background-color: var(--soft-blue);
      border-bottom-right-radius: 70px;
      border-top-right-radius: 70px;
      position: absolute;
      left: -1rem;
      top: 2rem;
      content: "";
      width: 90%;
      height: 50%;
      z-index: -1;
    }
    &:nth-child(2)::before {
      top: 3.5rem;
    }
    &:nth-child(3)::before {
      top: 4rem;
    }
  }

  &__img {
    position: relative;
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}
.features__card.hidden {
  display: none;
  opacity: 0;
}
.features__card__btn {
  display: none;
}
.features__btn.is__active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--red);
}

.extension {
  text-align: center;
  &--heading {
    font-size: 1.6rem;
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__card {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 3rem 0 2rem;
    margin: 1rem 0;
  }
  &--heading {
    margin: 1rem 0 0.5rem;
  }
  &--card--paragraph {
    margin-top: 0;
  }
  &__cta {
    background-image: url("./images/bg-dots.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &__btn {
    background-color: var(--soft-blue);
    color: #fefefe;
    border: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 80%;
    padding: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
  }
}

.faq {
  margin: 5rem 0;
  &__header {
    text-align: center;
  }
  &--heading {
    font-size: 1.6rem;
  }
  &__list {
    list-style-type: none;
    margin-bottom: 3rem;
  }
  &__question {
    margin: 1rem 0;
    border-bottom: 1px solid var(--grayish-blue);
  }
  &__btn {
    position: relative;
    width: 100%;
    text-align: left;
    color: var(--very-dark-blue);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    img {
      position: absolute;
      top: 2px;
      right: 0;
    }
  }
  &__answer {
    display: none;
    margin: 1rem 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.4s ease;
  }
  &__answer.open {
    display: block;
    transform: scale(1, 1);
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__cta {
    background-color: var(--soft-blue);
    color: #fefefe;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.9rem;
    font-weight: 500;
    cursor: pointer;
  }
}
.cta {
  background-color: var(--soft-blue);
  padding: 3rem 1rem;
  text-align: center;
  &--heading:first-child {
    font-weight: 400;
  }
  &--heading {
    color: #fefefe;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  &__label {
    visibility: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: absolute;
      width: auto;
    }
  }
  &__input {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
  }

  &__btn {
    background-color: var(--red);
    color: #fefefe;
    display: block;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 5px;
    border: none;
    &:focus {
      outline: #fefefe dotted 3px;
    }
  }
}
.footer {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;

  &__list {
    margin: 1rem 0;
    list-style-type: none;
  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.attribution {
  font-size: 1rem;
  margin-top: 2rem;
  color: #fefefe;
}
.attribution a {
  color: #fefefe;
}
/* 
      hidding spans
      styles from  https://a11y-101.com
  */
.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}
.social__icon {
  color: #fefefe;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (min-width: 425px) {
  .heading,
  section {
    padding: 0 2rem;
  }

  .banner::before {
    width: 80%;
  }
  .features__card::before {
    left: -2rem;
  }
}

@media (min-width: 768px) {
  .heading,
  section {
    padding: 0 3rem;
  }

  .banner::before {
    height: 60%;
    right: 0;
  }
  .banner--paragraph {
    padding: 0 5rem;
  }
  .features__text {
    margin: auto;
    max-width: 40ch;
  }
  .features--card--heading {
    margin: 2rem 0 1rem;
  }
  .features__card::before {
    left: -3rem;
    height: 68%;
  }

  .extension__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .faq {
    width: 80%;
    margin: 3rem auto;
  }
  .cta {
    padding: 3rem 8rem;
  }
  .footer {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem;
    &__logo {
      height: 25px;
      margin-right: 1rem;
    }
    &__list {
      display: flex;
      margin-right: auto;
    }
    &__item {
      margin: 0 1rem;
    }
    &__social {
      margin-left: auto;
    }
  }
  .attribution {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem 0;
  }
  .hambuger {
    display: none;
  }
  .nav {
    all: unset;
    &__list {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
    &__item {
      border: none;
      padding: 0;
      margin: 0 1rem;
    }
    &__link {
      color: var(--very-dark-blue);
      font-size: 1rem;
    }
    .social {
      display: none;
    }
    .login {
      margin-top: 0;
      background-color: var(--red);
      color: #fefefe;
      padding: 0.5rem 2rem;
      border-radius: 5px;
    }
  }

  .banner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    &__img {
      width: 50%;
    }
    &::before {
      width: 40%;
      height: 90%;
    }
    &__text {
      margin-top: 0;
      text-align: left;
    }
    &--paragraph {
      padding-left: 3rem;
    }
    &__links {
      padding-left: 3rem;
      text-align: left;
    }
  }
  .features {
    margin-top: 5rem;
    &__buttons {
      width: 70%;
      margin: 2rem auto;
    }
    &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    &__item {
      border-top: none;
      width: initial;
    }
    &__content {
      width: 50ch;
      margin-left: 10%;
    }
    &__card {
      display: flex;
      text-align: left;
      justify-content: space-between;
      align-items: center;
      &__btn {
        display: block;
        background-color: var(--soft-blue);
        color: #fefefe;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 0.9rem;
        font-weight: 500;
        cursor: pointer;
      }
      &::before {
        width: 50%;
        height: 95%;
      }
    }
    &__img {
      width: 50%;
    }
    &--card--heading {
      margin: 1rem 0;
      padding: 0;
      font-size: 2rem;
    }
  }
  .extension--paragraph {
    text-align: center;
    max-width: 50ch;
    margin: 0 auto 1rem;
  }
  .extension__card {
    margin-left: 2rem;
    &:nth-child(2) {
      transform: translateY(1rem);
    }
    &:nth-child(3) {
      transform: translateY(2rem);
    }
  }
  .faq {
    width: 60%;
  }
  .cta--heading {
    padding: 0 16rem;
  }
  .cta form {
    width: 50%;
    margin: auto;
  }
  .footer {
    padding: 3rem 6rem;
  }
}
